extends layout 
block content 
	h2.register-header Add Guitar
	form(id="addGuitar" action="/guitarsData" method="POST" accept-charset="utf-8" ajax="true")
		.guitarFormDetail
			.form-group
				label Brand
				input(class="form-control" type="text" name="brand" placeholder="Brand" required=true)
			.form-group
				label Number of Strings
				input(class="form-control" type="number" value="6" min="0" max="1000" name="strings" required=true)
			.form-group
				label Type
				select(class="form-control" type="text" name="guitarType" required=true)
					option(selected='' value="Standard") Standard 
					option(value="Bass") Bass 
					option(value="Double-Bass") Double Bass 
					option(value="Other") Other  
			.form-group
				label Sound Method
				select(class="form-control" type="text" name="soundType" required=true)
					option(selected='' value="Electric") Electric 
					option(value="Acoustic") Acoustic 
					option(value="Acoustic-Electric") Acoustic-Electric
					option(value="Synth") Synthesizer
					option(value="Air") Air
					option(value="Other") Other  
			.form-group
				label Model
				input(class="form-control" type="text" name="model" placeholder="Model" required=true)
			.form-group
				label Scale
				input(class="form-control" type="number" min="00" max="50" step="0.01" value="22" name="scale" placeholder="Scale")
			.form-group
				label Year
				input(class="form-control" value="2000" type="number" min="1700" max="2050" step="01")
		.guitarImg
			.form-group.guitarUpload
				label Upload Picture
				input(class="form-control-file" type="file" name="picture" id="pic-upload")
				#dropzoneInput
				//- img(class="img-thumbnail")
			br
			button.addGuitarButton(type="submit" class="btn btn-success") Add Guitar